
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/superslides.css" rel="stylesheet" />
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
	<link href="~/css/versions.css" rel="stylesheet" />
  <link href="~/css/nicepage.css" rel="stylesheet" />
	<link href="~/css/casa.css" rel="stylesheet" />
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div id="home" class="first-section" style="background-image: url('image/carrete01.jpg')">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="big-tagline">
                                        <h2><strong>Liceo Rural Jazmines b</strong></h2>
                                        <p class="lead">With Landigoo responsive landing page template, you can promote your all hosting, domain and email services. </p>
                                        <a href="#" class="hover-btn-new"><span>Contactanos</span></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="hover-btn-new"><span>Leer más</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image: url('/image/carrete05.jpg');">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="big-tagline">
                                        <h2><strong>Liceo Rural Jazmines b</strong></h2>
                                        <p class="lead" data-animation="animated fadeInLeft">With Landigoo responsive landing page template, you can promote your all hosting, domain and email services. </p>
                                        <a href="#" class="hover-btn-new"><span>Contactanos</span></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="hover-btn-new"><span>Leer más</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image: url('/image/carrete03.jpg')">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="big-tagline">
                                        <h2><strong>Liceo Rural Jazmines b</strong></h2>
                                        <p class="lead" data-animation="animated fadeInLeft">
                                            With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.
                                        </p>
                                        <a href="#" class="hover-btn-new"><span>Contactanos</span></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="hover-btn-new"><span>Leer más</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <!-- Left Control -->
            <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Right Control -->
            <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <script src="~/js/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.superslides.js"></script>
        <script>

            $('#carouselExampleControls').superslides();
        </script>
    </div>
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>sobre nosotros</h3>
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div><!-- end title -->
            <section class="u-align-center u-clearfix u-white u-section-1" id="carousel_d1dd">
                <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="u-list u-list-1">
                        <div class="u-repeater u-repeater-1">
                            <div class="u-align-left u-container-style u-list-item u-palette-5-light-2 u-repeater-item u-list-item-1">
                                <div class="u-container-layout u-similar-container u-container-layout-1">
                                    <span class="u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="images/2967344-6291596e.png" alt=""></span>
                                    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-3">Vision</h3>
                                    <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-list-item u-palette-5-light-2 u-repeater-item u-video-cover u-list-item-2">
                                <div class="u-container-layout u-similar-container u-container-layout-2">
                                    <span class="u-icon u-icon-rectangle u-text-palette-1-base u-icon-2">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 510 510" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-529f"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 510 510" id="svg-529f">
                                            <g>
                                                <path d="m393.159 121.41 69.152-86.44c-16.753-2.022-149.599-37.363-282.234-8.913v-26.057h-30v361.898c-25.85 6.678-45 30.195-45 58.102v1.509c-34.191 6.969-60 37.272-60 73.491v15h240v-15c0-36.22-25.809-66.522-60-73.491v-1.509c0-27.906-19.15-51.424-45-58.102v-124.733c153.335-30.989 264.132 7.082 284.847 9.834zm-140.653 358.59h-174.859c6.19-17.461 22.873-30 42.43-30h90c19.556 0 36.238 12.539 42.429 30zm-57.429-60h-60c0-16.542 13.458-30 30-30s30 13.458 30 30zm-15-213.427v-149.802c66.329-15.269 141.099-15.756 227.537-1.455l-50.619 63.274 48.8 85.4c-75.047-12.702-150.759-11.841-225.718 2.583z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-5">Mission</h3>
                                    <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-list-item u-palette-5-light-2 u-repeater-item u-video-cover u-list-item-3">
                                <div class="u-container-layout u-similar-container u-container-layout-3">
                                    <span class="u-file-icon u-icon u-icon-rectangle u-icon-3"><img src="images/3719462-f067e80f.png" alt=""></span>
                                    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-7">Historia&nbsp;</h3>
                                    <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
  
</body>
</html>








