@model IEnumerable<LICEORURALJASMINEZB.Models.Alumno>

@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

    <br />
<div  class="container">
 <div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
                <div class="row">
                    <div class="col-6">
                        <h1 class="font-weight-bold" style="color:darkorange">Lista de Alumnos</h1>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary" asp-action="Upsert"> <i class="fas fa-plus"></i> Crear Nuevo Alumno </a>
                    </div>
                </div>
            <div class="card-body">
                <table id="tblDato" class="display" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                             <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Fecha Nacimiento</th>
                            <th>Sexo</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th >Acciones </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>
  </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/scripts/alumno.js"></script>
}

  