@model IEnumerable<LICEORURALJASMINEZB.Models.ViewModels.NIvelViewModels>

@{
    ViewData["Title"] = "Nivel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<br />
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card">
                <div>
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="font-weight-bold" style="color:darkorange">Lista de Niveles</h1>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" asp-action="Upsert"> <i class="fas fa-plus"></i> Crear Alumno </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="tblDatos" class="display" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Periodo</th>
                                <th>Nivel</th>
                                <th>Turno</th>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                                <th>Estado</th>
                                <th>Acciones </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   <script src="~/scripts/nivel.js"></script>
}

