@page
@model LockoutModel
@{
    ViewData["Title"] = "BLOQUEADO";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta Cuenta  ha sido  bloquiada , por favor trata  mas tarde .</p>
</header>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />